#ajaxcomments textarea {
	height: 100px;
}
.ajaxcomment-container .ajaxcomment-container {
	margin-left: 15px;
}
.ajaxcomment {
	margin: 10px 0 0 0;
	padding: 5px 8px;
	border: 1px solid #cce0f2;
	background: #f0f8fe;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
}

.ajaxcomments-loader {
	background: url( img/ajax-loader.gif ) no-repeat center center;
	height: 75px;
}

#ajaxcomments-wrapper button {
	color: white;
	background-color: #999;
	border: 1px solid black;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	font-weight: bold;
	padding: 2px 10px;
	margin-right: 5px;
	cursor: pointer;
}

/*
.ajaxcomment-input-reply {
	margin-left: 15px;
}
.ajaxcomment-icon {
	float: left;
	margin: 10px 5px 5px 0;
}
.ajaxcomment-sig {
	color: #999;
	font-size: 90%;
}
#ajaxcomment-like,
#ajaxcomment-dislike {
	font-weight: bold;
	color: white;
	padding-right: 20px;
	cursor:
}
#ajaxcomment-like {
	background: #999 url( img/thumb_up.png ) no-repeat 15px 0;
}
#ajaxcomment-dislike {
	background: #999 url( img/thumb_down.png ) no-repeat 15px 3px;
}
.ajaxcomment-active {
	cursor: pointer;
}
*/
